<!-- start custom comments snippet -->
<div id="gitmentContainer"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
    owner: 'fangngng',
    repo: 'fangngng.github.io',
    oauth: {
        client_id: 'a4b2b1fe3adb603845d2',
        client_secret: 'bb839d4819e13bbbb7f19afffd37ec7a39e8d450',
    },
});
gitment.render('gitmentContainer');
</script>
<!-- end custom comments snippet -->